.listaGastos {
    position: relative;
    left: -9.27%;
    width: 118.6%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
    border-collapse: collapse;
    border: 0;
}

td#nomeGasto {
    width: 50%;
    padding-left: 23px;
}

td#valorGasto {
    padding-left: 23px;
}

.listaGastos tbody tr {
    height: 45px;
    color: #808080;
    background-color: #ffffff;
}

.listaGastos tbody tr:hover>td {
    background-color: rgb(245, 245, 245);
    color: #555555;
}

.listaGastos tbody tr:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

.dinheiroDisponivel {
    position: relative;
    left: -4%;
    margin-bottom: 1%;
    font-weight: bold;
    letter-spacing: 1px;
}