:root {
  --bg-menu: #bdbbbb;
  --logo-width: 150px;
  --content-header-height: 60px;
  --content-footer-height: 40px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

/* Lay-out */
.App {
  margin: -8px;
  display: grid;
  grid-template-columns: var(--logo-width) 1fr;
  grid-template-rows:
    var(--content-header-height) 1fr var(--content-footer-height);
  grid-template-areas:
    "logo menu"
    "content content"
    "footer footer";
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #5975FF 0%, #3029D9 100%);
}

aside.logo {
  grid-area: logo;
}

nav.menu {
  grid-area: menu;
}

div.content {
  grid-area: content;
}

h1#title {
  position: absolute;
  width: 628px;
  left: 160px;
  top: 140px;

  font-family: 'Poppins';
  font-style: normal;
  font-size: 100px;
  line-height: 140px;
  /* or 136% */
  color: #FFFFFF;
}

h1#description {
  position: absolute;
  width: 633.33px;
  height: 125.33px;
  left: 160px;
  top: 500px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18.6667px;
  line-height: 37px;
  /* or 200% */

  color: #FFFFFF;
}

img#imgHome {
  position: fixed;
  width: 55%;
  left: 730px;
  top: 147px;
}